
.jogo {
    background-color: rgb(255, 255, 255);
    color: white;
    margin: 20px auto;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg);
    
}
.quadrado1 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(8, 9, 68);
    border: 5px;
}
.quadrado2 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(8, 9, 68);
    border: 5px;
}
.quadrado3 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(8, 9, 68);
    border: 5px;
}
.quadrado4 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(34, 45, 110);
    border: 5px;
}
.quadrado5 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(34, 45, 110);
    border: 5px;
}
.quadrado6 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(34, 45, 110);
    border: 5px;
}
.quadrado7 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(76, 110, 121);
    border: 5px;
}
.quadrado8 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(76, 110, 121);
    border: 5px;
}
.quadrado9 {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px ;
    background-color: rgb(76, 110, 121);
    border: 5px;
}
.botao {
    background-color: rgba(255, 255, 255, 0.527);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 10px;
    
}
.botao:hover {
    background-color: rgba(0, 0, 0, 0.459);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.vs {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.jogador {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;

}
.container {
    width: 1000px;
    margin-left: auto; 
    margin-right: auto;
    border: 2px solid white;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.438);
    display:flex

}
